.file-list-json {
    word-wrap: break-word;
    overflow:hidden;
}

.no-wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-grid {
    background-color: #5c6875;
    padding-top: 20px;
}
